<!DOCTYPE html>
<!--[if lt IE 8]>
<html class="lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>
<html class="ie8" lang="en"> <![endif]-->
<!--[if IE 9]>
<html class="ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en">
<!--<![endif]-->

<%- include('/partials/layout/_head.ejs', { title: 'Test page'}) %>

<body>
  <div class="container">
    <div>
      <h2>Pages</h2>
      <ul>
        <li><a href="/index.html">Start Page</a></li>
      </ul>
    </div>
    <div>
      <%- include('/partials/test/_image.ejs') %>
    </div>
    <%- include('/partials/test/_bg-image.ejs') %>
  </div>
</body>

</html>
