@import "./base/base";
@import "./components/components";

$colorNeutralLightest: #fff;
$colorNeutralDarkest: #000;
$colorBrand: maroon;

h1,
h2,
h3 {
  color: $colorBrand;
  margin-bottom: 0;
  font-family: $fontFamilyBase;
}
