@import "./base/base.scss";
@import "./components/components.scss";

$colorNeutralLightest: #fff;
$colorNeutralDarkest: #000;

$colorBrand: maroon;

h1,
h2,
h3 {
  color: $colorBrand;
  margin-bottom: 0;
  font-family: $fontFamilyBase;
}
