@font-face {
  font-display: swap;
  font-family: Nimitz-Clean;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/nimitz/nimitz_clean-webfont.woff") format("woff"),
    url("../fonts/nimitz/nimitz_clean-webfont.woff2") format("woff2");
}

$fontFamilyBase: nimitz-clean, arial, helvetica, sans-serif;
$icon-font-name: "_icons";
